@model JobsApplication.Domain.DomainModels.Profession

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>
<h4>Profession</h4>

<!-- TODO: Create Table for Profession -->
<!-- Look at the table from any Index page for help -->
<!-- Iterate throught Model.CandidatedInProfession -->
<!-- Display: Candidate FullName, Candidate DateOfBirth, Candidate PhoneNumber -->
<table class="table">
   
</table>

<!-- TODO: Display Total Number of Candidates In Profession-->
<div>
    <p>Total Candidates: </p>
</div>
