@model JobsApplication.Domain.DomainModels.Profession

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>
<h4>Profession</h4>
<table class="table">
    <thead>
        <tr>
            <th>FullName</th>
            <th>DateOfBirth</th>
            <th>PhoneNumber</th>
        </tr>
    </thead>
    <tbody>
        @foreach(var item in Model.CandidateInProfessions)
        {
            <tr>
                <td>@(item.Candidate.FirstName + " " + item.Candidate.LastName)</td>
                <td>@item.Candidate.DateOfBirth</td>
                <td>@item.Candidate.PhoneNumber</td>
            </tr>
        }
    </tbody>
</table>
<div>
    <p>Total Candidates: </p>
    @Model.CandidateInProfessions.Sum(x => x.Quantity);
</div>
